<div class="container">
  <h1>Typing Game</h1>
  
  <div id="random-word">
    <p id="word-display">Typing: {{word}}</p>
    <p id="word"></p>
  </div>

  <div class="input">
    <input type="text" id="input" placeholder="Let type here..........." [(ngModel)]="typeWords">
    <br>
    <button id="start" (click)="startGame()">Start Game</button>

  </div>

  <div class="result">
    <p class="time">Time: {{time}}</p>
    <p class="point">Point: {{point}}</p>
  </div>


 
 
 <!-- <h2 *ngIf="point == 0">Điểm của bạn là {{point}}</h2>
   <h2 *ngIf="point != 0">Bạn đang chơi game</h2> -->
   <!-- @if(this.point == 0){
     <h2>Điểm của bạn là {{point}}</h2>
   }@else{
     <h2>Bạn đang chơi game</h2>
   } -->
   <!-- @if(this.time == 0 && this.point == 0){
       <h2>bạn thua rồi {{point}}</h2>
     }@else{
       <h2>bạn đang chơi game</h2>
     } -->
   
   <!-- @for(letter of button; track $index){
     @if
     <button>{{letter}}</button>} -->
 
   <div id="container">
    @for (row of buttons; track $index) {
      @if ($index == 0) {
        <div id="top">
          @for (letter of row.top; track $index) {
            <button>{{letter}}</button>
          }
        </div>
      } @else if ($index == 1) {
        <div id="middle">
          @for (letter of row.middle; track $index) {
            <button>{{letter}}</button>
          }
        </div>
      } @else {
        <div id="bottom">
          @for (letter of row.bottom; track $index) {
            <button>{{letter}}</button>
          }
        </div>
      }
    }
  </div>
     </div>
 
     
 
      
     